page-add-shopping {
    #new{
        background-image: url('http://www.wallpapermaiden.com/wallpaper/4335/download/2560x1440/violet-gradient.png') ;
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: center ;
        width: 100% ;
        position: relative ;
        border: none ;

    
        }     

}
