page-shopping-list {

    #contenido{
        background-image: url('http://www.koomkin.com/Imagenes/Fondos/_home/FondoLogin2.jpg') ;
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: center ;
        width: 100% ;
        position: relative ;
        border: none ;

    
        }       
        
}


